* {
  font-family: cursive;
  margin: 0;
  padding: 0;
}

.App {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("./assets/image.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-weight: 700;
  background-color: yellow;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  color: black;
}

.confirmBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px;
}

.confirmBtn:hover {
  background-color: #0056b3;
}

.content {
  text-align: center;
  padding: 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.content img {
  max-width: 100%;
  margin-bottom: 20px;
  width: 500px;
  height: 500px;
  border-radius: 8px;
}

.content p {
  font-size: 18px;
  margin: 10px 10px;
}

.content button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.content button:hover {
  background-color: #0056b3;
}

.video {
  height: 500px;
  width: 500px;
}

footer {
  position: absolute;
  bottom: 0;
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
}
footer p {
  background-color: yellow;
  padding: 0 4px;
}

.insta {
  height: 80px;
  width: 80px;
}

@media screen and (max-width: 550px) {
  .video {
    height: 300px;
    width: 300px;
  }
  .content img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 1700px) {
  .video {
    height: 400px;
    width: 400px;
  }
  .content img {
    width: 350px;
    height: 350px;
  }
}
